* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header__container {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 150px 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: fixed;
  top: 0;
  z-index: 50;
}

.header__logo {
  width: 113px;
  height: 46px;
  border: 6px solid #170f1c;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 28px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  text-shadow: 0 0 2px rgba(21, 21, 22, 0.75);
  padding: 3px 0 0;
}

.header__logo span {
  color: #8be6df;
  font-size: 20px;
}

.header__menu {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 5px 0;
}

.header__line {
  width: 30px;
  height: 4px;
  background-color: #000;
  position: relative;
}

.header__line:before {
  content: "";
  width: 30px;
  height: 4px;
  background-color: #000;
  position: absolute;
  right: 0;
  bottom: 8px;
}

.header__line:after {
  content: "";
  width: 30px;
  height: 4px;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 8px;
}

.contact-us {
  background-color: #eff0f2;
}

.contact-us__container {
  padding: 355px 150px 0;
}

.contact-us__title {
  margin: 0 auto 150px;
  color: #505050;
  font-family: "Montserrat", sans-serif;
  text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
  font-weight: 700;
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2.7px;
  position: relative;
  line-height: 50px;
}

.contact-us__title span {
  background-color: #76f4f481;
  padding: 0 3px;
}

.contact-us__btn-wrap {
  margin: 0 auto;
  width: 232px;
}

.contact-us__btn {
  width: 232px;
  height: 53px;
  border-radius: 2px;
  border: 2px solid rgba(0, 0, 0, 0.5);
  opacity: 0.75;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 2.16px;
  display: inline-block;
  font-weight: 700;
}

.contact-us__img {
  width: 121px;
  height: 156px;
  position: relative;
  left: 77.5%;
  bottom: 37px;
}

.glass img {
  position: absolute;
}

.glass__cork-shadow {
  z-index: 1;
  top: 19px;
  left: 0;
}

.glass__cork {
  z-index: 2;
  top: 26px;
  left: 6px;
}

.glass__spill-1 {
  z-index: 3;
  top: 47px;
  left: 15px;
}

.glass__spill-2 {
  z-index: 4;
  top: 19px;
  left: 0;
}

.glass__glass-shadow {
  z-index: 5;
  top: 0;
  left: 0;
}

.glass__glass {
  z-index: 6;
  top: 11px;
  left: 15px;
}

.about-us__container {
  padding: 129px 0 113px 0;
  background-color: #f8fafa;
}

.about-us__title {
  margin: 0 0 147px 0;
}

.about-us__content {
  margin: 0 200px 0 244px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us__slider {
  position: relative;
  z-index: 1;
  margin: 0 50px 0 0;
}

.about-us__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 474px;
          flex: 0 1 474px;
}

.title__text {
  opacity: 0.9;
  color: #000000;
  font-family: "Montserrat", "sens-serif";
  font-size: 38px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 2.28px;
  margin: 0 0 15px 0;
  text-align: center;
  text-transform: uppercase;
}

.title__subtitle {
  opacity: 0.62;
  font-family: "Merriweather", "sens-serif";
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1.08px;
  text-align: center;
}

.slider {
  -webkit-box-flex: 0;
      -ms-flex: 0 1;
          flex: 0 1;
}

.slider__img {
  position: relative;
}

.slider__img:before {
  content: "";
  position: absolute;
  background-color: #eff0f2;
  width: 479px;
  height: 412px;
  z-index: -1;
  top: 36px;
  left: -44px;
}

.slider__img-work {
  z-index: 2;
}

.slider__btn-wrap {
  width: 55px;
  margin: 46px auto 0;
}

.slider__btn {
  width: 11px;
  height: 10px;
  border-radius: 3px;
  background-color: #d0d0d0;
}

.slider__btn-active {
  background-color: #71f6eb;
}

.text {
  text-align: left;
}

.text__title {
  padding: 0 0 21px 0;
  opacity: 0.75;
  font-family: "Merriweather", "sens-serif";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.text__content {
  opacity: 0.74;
  font-family: "Raleway", "sens-serif";
  line-height: 28px;
  letter-spacing: 0.8px;
  text-align: justify;
}

.text__paragraph {
  padding: 25px 0 0 0;
}

.text__subtitle {
  padding: 25px 0 17px 0;
  opacity: 0.75;
  font-family: "Merriweather", "sens-serif";
  font-size: 17px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.featured-works__container {
  padding: 0 0 125px 0;
}

.featured-works__title {
  margin: 129px 0 122px 0;
}

.featured-works__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: (370px)[3];
      grid-template-columns: repeat(3, 370px);
  grid-gap: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-services__container {
  background-color: #f9fbfb;
  padding: 124px 0;
}

.our-services__title {
  margin: 0 0 123px 0;
}

.our-services__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 474px 178px 474px;
      grid-template-columns: 474px 178px 474px;
  -ms-grid-rows: 422px 370px 370px;
      grid-template-rows: 422px 370px 370px;
  grid-gap: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.know-more {
  position: relative;
  bottom: 0;
}

.know-more__title {
  opacity: 0.95;
  color: rgba(255, 255, 255, 0.95);
  font-family: "Merriweather", "sens-serif";
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.know-more__text {
  color: rgba(255, 255, 255, 0.91);
  font-family: "Raleway", "sens-serif";
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  letter-spacing: 0.32px;
  margin: 20px 0 52px;
}

.know-more__one {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  background: url(../img/our-services/cover.png) 0 0/cover no-repeat, url(../img/our-services/os_1.png) 0 0/cover no-repeat;
  padding: 184px 180px 0 65px;
}

.know-more__two {
  background: url(../img/our-services/cover.png) 0 0/cover no-repeat, url(../img/our-services/os_2.png) 0 0/cover no-repeat;
  padding: 184px 98px 0 65px;
}

.know-more__three {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  background: url(../img/our-services/cover.png) 0 0/cover no-repeat, url(../img/our-services/os_3.png) 50% 0/auto 100% no-repeat;
  padding: 165px 180px 0 65px;
}

.know-more__four {
  background: url(../img/our-services/cover.png) 0 0/cover no-repeat, url(../img/our-services/os_4.png) 0 0/cover no-repeat;
  padding: 165px 98px 0 65px;
}

.know-more__five {
  background: url(../img/our-services/cover.png) 0 0/cover no-repeat, url(../img/our-services/os_5.png) 0 0/cover no-repeat;
  padding: 130px 98px 0 65px;
}

.know-more__six {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
  background: url(../img/our-services/cover.png) 0 0/cover no-repeat, url(../img/our-services/os_6.png) 0 0/cover no-repeat;
  padding: 130px 180px 0 65px;
}

.know-more__btn {
  background: none;
  opacity: 0.8;
  color: rgba(249, 251, 251, 0.8);
  font-family: "Raleway", "sens-serif";
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.72px;
  position: relative;
}

.know-more__btn:after {
  content: "";
  position: absolute;
  width: 22px;
  height: 15px;
  opacity: 0.7;
  background: url(../img/our-services/arrow.svg) 0 0/cover no-repeat;
  bottom: 3px;
  right: -40px;
}

.know-more__btn:hover {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */